<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Updated Timetable</title>
  </head>
  <body>
    <p>Dear {{ teacher_name }},</p>

    <p>
      Your updated timetable has been generated. Please find the attached CSV
      file containing your detailed schedule.
    </p>

    <p>If you have any questions or need assistance, feel free to reach out.</p>

    <p>Best regards,</p>
    <p>GEHU</p>
  </body>
</html>
